.footer {
  padding-block: 5rem;
}

.up {
  width: 35px;
  height: 36px;
  color: white;
  fill: dodgerblue;
}

.tagline {
  font-size: 1.2rem;
}

.tagline:hover{
    text-decoration: underline;
}

.year {
  margin-top: 5rem;
  font-size: 1.5rem;
}

@media screen and (min-width: 810px) {

   .up{
    width: 49px;
   }

  .tagline {
    font-size: 2.1rem;
  }

  .year{
    font-size: 2rem;
    word-spacing: 4px;
  }
}
