.heroContainer {
  padding-inline: 30px;
  font-family: var(--ff-sans);
  padding-bottom: 10rem;
}

/* Intro Container */

.introContainer {
  height: 379px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.designation {
  line-height: 1;
}

/* name container */

.nameContainer {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* hero Content */

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 5.84rem;
  margin-top: 1rem;
  max-width: 1000px;
  margin-inline: auto;
}

.about {
  font-size: 2.2rem;
  color: var(--color-text-edark);
  text-align: left;
  line-height: 1.60;
}

/* hand icon */

.handIcon {
  width: 40px;
  height: 40px;
  display: none;
}

.greet {
  display: flex;
  gap: 1rem;
}

.badge {
  display: none;
}

.btnContainer {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.cv {
  background-color: white;
  padding: 1rem 2rem;
  color: black;
  height: 100%;
}

@media screen and (min-width: 810px) {
  .heroContainer {
    padding-inline: 5rem;
  }

  .introContainer {
    height: 500px;
    text-align: left;
    align-items: center;
    gap: 3rem;
  }

  .designation {
    font-size: 12rem;
  }

  .about {
    font-size: 2.8rem;
  }

  .heroContent {
    margin-top: 0;
  }

  .nameContainer {
    font-size: 3rem;
    flex-direction: column;
  }

  .container {
    flex-direction: row;
    gap: 3rem;
  }

  .handIcon {
    display: inline-block;
  }

  .badge {
    display: inline-block;
  }

  .badgeContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .btnContainer {
    gap: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .designation {
    font-size: 18rem;
  }

  .introContainer {
    height: 650px;
  }

  .heroContainer {
    margin-inline: auto;
    max-width: 1500px;
  }

  .about {
    font-size: 3.8rem;
  }

  .badgeContainer {
    gap: 5rem;
  }
}