@font-face {
  font-family: "GeneralSans-Medium";
  src: url("../../public/fonts/GeneralSans/GeneralSans-Medium.woff2")
      format("woff2"),
    url("../../public/fonts/GeneralSans/GeneralSans-Medium.woff") format("woff"),
    url("../../public/fonts/GeneralSans/GeneralSans-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans-400";
  src: url("../../public/fonts/GeneralSans/GeneralSans-Regular.woff2")
      format("woff2"),
    url("../../public/fonts/GeneralSans/GeneralSans-Regular.woff")
      format("woff"),
    url("../../public/fonts/GeneralSans/GeneralSans-Regular.ttf")
      format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --color-primary: #151415;
  --color-text-edark: #d6d6d6;
  --color-text-dark: #fafafa;
  --color-white: #fff;
  --color-black: #000;
  --ff-manrope: "Manrope", sans-serif;
  --ff-sans: "GeneralSans-Medium", sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  background-color: #151414;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

img {
  width: 100%;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-sans);
  font-weight: 400;
}

h1 {
  font-size: 6.6rem;
}

h2 {
  font-size: 3rem;
}

/* navbar animation */

.link {
  position: relative;
}

.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .link:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

/* Hover up animation */

.link-up {
  display: block;
  padding: 1rem 1.25rem;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  position: relative;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  z-index: 1;
}

.link-up::after {
  content: "";
  display: block;
  height: 0px;
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  left: 1.25rem;
  background-color: #ffffff;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  transform-origin: bottom center;
  z-index: -1;
}

.link-up:hover {
  color: #2d2d2d;
}

.link-up:hover::after {
  right: 0;
  left: 0;
  height: 100%;
}
