.btn {
  display: block;
  font-family: var(--ff-sans);
  font-size: 1.6rem;
  line-height: 1.2;
  padding: 1.8rem 3.5rem;
  white-space: nowrap;
  width: fit-content;
  font-weight: 500;
  outline: 0;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.btn:active {
  transform: translateY(4px);
}

/* Button white  */

.btn--primary {
  color: var(--color-black);
  background-color: var(--color-white);
  transition: all .294s ease-in;
  font-weight: 500;
}

.btn--primary:hover {
  background-color: black;
  outline: 1.9px solid white;
  color: white;
}